# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# Cargo build output
target/

# frontend code
node_modules/
dist/
.env

.history
local_canisters.json
src/declarations/
src/candao_assets/declarations/